.cross {
    background-image: url('project://database/Assets/Client/Image/Materials/105-1058931_black-cross-png-cross-sign-png-black.png?fileID=2800000&guid=4aaa7c852be8e6344b399ac08e87d342&type=3#105-1058931_black-cross-png-cross-sign-png-black');
    width: 125px;
    height: 125px;
    color: rgba(27, 27, 27, 0);
    background-color: rgb(255, 0, 0);
}

.crossHover:hover {
    background-color: rgb(255, 255, 255);
    -unity-slice-scale: 1px;
}

.crossFocus:focus {
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(0, 0, 0);
}
